.footer {
    width: 100%;
}

.footer .footer-content {
    /* display: flex; */
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 20px;
    align-items: flex-end;
    position: relative;
}

p {
    font-size: 12px;
    margin: 0;
    color: rgba(0,0,0,0.95);
    opacity: 0.45;
}

