.sidebar-container{    
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 25%;
    height: auto;
    /* overflow-y: auto; */
    /* min-height: 100vh; */
    /* background-color: #ffcba4; */
    position: fixed;
    right: 0;
}
    