@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Section: Start Selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* Section: Body */
body {
    background-color: #faf9f6;
    color: #333;
    /* min-height: 100vh; */
}

/* Section: Dark Mode */
.dark-mode {
    background-color: #333;
    color: #faf9f6;
}